Repository conradhodge/travel-api-client: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run spellcheck, npm run lint-markdown, make vet-go, golangci-lint run, make test-go, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.md": ["npm run spellcheck", "npm run lint-markdown"],
  "*.go": ["make vet-go", "golangci-lint run", "make test-go"],
  "**/*": "prettier --write --ignore-unknown"
}

Remove references to tram
  .lintstagedrc.json
  package-lock.json
  transport/.golangci.yml
  transport/transport.go
  transport/traveline.go
  transport/traveline_test.go
  traveline/client.go
  traveline/client_test.go
Due: make vet-go, golangci-lint run, make test-go, prettier --write --ignore-unknown

Add VSCode dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.md
Due: npm run spellcheck, npm run lint-markdown, prettier --write --ignore-unknown

Update deps
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update dependencies
  go.mod
  go.sum
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Grouped Makefile documentation
  Makefile
Due: prettier --write --ignore-unknown

Update to npm 8
  package-lock.json
Due: prettier --write --ignore-unknown

Update to Go 1.17
  go.mod
  go.sum
Due: prettier --write --ignore-unknown

Update dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Install golangci-lint locally
  .gitignore
  .golangci.yml
  Makefile
Due: prettier --write --ignore-unknown

Update dependencies
  package-lock.json
Due: prettier --write --ignore-unknown

Update dependencies
  .github/workflows/build.yml
  go.mod
  go.sum
  package-lock.json
  package.json
  traveline/client.go
  traveline/client_test.go
Due: make vet-go, golangci-lint run, make test-go, prettier --write --ignore-unknown

Update dependencies
  .github/workflows/build.yml
  .github/workflows/golangci-lint.yml
  .golangci.yml
  go.mod
  go.sum
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown
